body {
    background-color: #000;
    width: auto;
    overflow: hidden;
}

li {
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
    margin-top: -12vh;
}

li p:nth-child(1) {
    font-family: 'Tangerine';
    color: darkgrey;
    text-align: center;
    font-size: 500%;
    font-weight: 700;
}

li p:nth-child(2) {
    font-family: 'Tangerine';
    margin-top: -5%;
    top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 50px;
    text-align: center;
    color: darkgrey;
}

.number {
    font-size: 175%;
    font-weight: 400;
    margin-right: -5px;
}

.four {
    font-size: 150%;
}

.arrow {
    font-size: 350%;
    left: 50%;
    width: 43.5px;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0.2;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
    position: fixed;
}

.arrow:hover {
    opacity: .6;
    cursor: hand;
    cursor: pointer;
}

.arrow#up {
    top: 30px;
}

.arrow#down {
    bottom: 30px;
}

.second {
    top: 200%
}

.long {
    font-size: 40px !important;
}
li div:nth-child(1) {
    position: relative;
    top: 47%;
    transform: translateY(-53%);
}